{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "tsc"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "tsc/config": [2, { "configFile": "./tsconfig.json" }],
    "@typescript-eslint/ban-types": "off",
    "no-debugger": "warn"
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
